* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(78, 78, 78);
}

.box {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-shadow:  10px 5px 10px rgba(0, 0, 0, 0.595);;
}

.container {
    height: 420px;
    display: flex;
}

.commentary p {
    color: #d7d7d7;
    margin-bottom: 20px;
}

.card {
    width: 50px;
    background-size: cover;
    background-color: black;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: .25s;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.595);
    cursor: pointer;
}

.card > .panel {
    color: white;
    display: flex;
}

.card > .panel > .commentary {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.586);
    opacity: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .commentary {
    opacity: 1 !important;
}

.card[for='no-1'] {
    background-image: url('./media/lion.avif');
}

.card[for='no-2'] {
    background-image: url('./media/tiger.avif');
}

.card[for='no-3'] {
    background-image: url('./media/lynx.avif');
}

.card[for='no-4'] {
    background-image: url('./media/cheetah.avif');
}

.card[for='no-5'] {
    background-image: url('./media/jaguar.avif');
}

.card[for='no-6'] {
    background-image: url('./media/cougar.avif');
}

.card[for='no-7'] {
    background-image: url('./media/leopard.avif');
}
